/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/

body,
nav,
main,
footer,
h1,
div,
img,ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #d7d7d7;
    font-family: 'Tahoma';
}

.home_info h2
{
margin-left: -10px;
}

/*header section*/
header {
    background: #d7d7d7;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    top:0;

}
header img {
    height: "220";
    width: "220";
    border-radius: 50%;
    float: center;
    margin-inline: 10px;
}
header h1 {
    display: inline-block;
    color: #000000;

}

/*navigation section*/

nav ul 
{    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li 
{
    float: left;
}
nav li a 
{
    display: block;
    color: #d7d7d7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}

/*main section*/

main
{
    display:inline;
    
}

div h2 {
    font-family: 'Tahoma';
}
div {

    clear: left;
    color: #000000;
    font-family: 'Tahoma';

}
.home_info {
    width: 75%;
    margin-left: 25px;
}
bold {
    font-weight: bold;
}

/*Displays for looking at current frequency and what frequency is being looked for*/
.main_display
{
    text-align: center;
}

.display_looking_for_frequency
{
    margin-right: 160px;
    margin-left: 160px;
    margin-top: auto;
    border: 10px solid #333;
}


#looking_for_frequency
{
    font-size: 50px;
}

/*form/control box*/
.control_panel
{
text-align: center;
}

form
{
    text-align: center;     
    width: 400px;
    height: 300px;
    border: 10px solid blue;
    overflow:auto;
}

.channel_selector
{

}

/*slider element*/
.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: hsl(0, 0%, 53%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

/*Content warning section*/
.content_warning {
    text-align: center;
    font-family: 'roboto';
    color: #d82020;
    height: 20 px;
}
.disclaimer {
    text-align: center;
    font-family: 'roboto';
    height: 20 px;
}
.contentOfWarning {
    margin: auto;
    width: 500px;
    height: 50%;
    text-align: center;
    font-family: 'Franklin Gothic medium';
}

.redacted
{
    color:#d82020;
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #292929;
    padding: 0 1em;
}
footer p a {
    color: #292929;
    text-decoration: none;
}