/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/

body,
header,
nav,
main,
footer,
h1,
div,
img,ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #d7d7d7;
    font-family: 'Tahoma';
}

/*header section*/
header {
    text-align: left;

}
header img {
    height: "220";
    width: "220";
    border-radius: 50%;
    float: center;
    margin-inline: 10px;
}
header h1 {
    display: inline-block;
    color: #000000;

}

/*navigation section*/

nav ul 
{    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav li 
{
    float: left;
}
nav li a 
{
    display: block;
    color: #d7d7d7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}

/*main section*/

main
{
    display:inline;
    
}

div h2 {
    font-family: 'Tahoma';
}
div {

    clear: left;
    color: #000000;
    font-family: 'Tahoma';

}
.home_info {
    width: 75%;
}
bold {
    font-weight: bold;
}
/*form/control box*/
form
{     
    display:inline;
    width: 400px;
    height: 300px;
    display: block;
    border: 10px solid blue;
    overflow:auto;
}

.result
{
    position:inherit;
    text-align: center;
    margin-top: 50px;
    clear:both;
    color: #d82020;
    
}

.number_select
{
    display:inline;
    float: left;
    width: 50px;
    padding: 5px; 
    
}


/*display box*/
.display
{
    margin:10px;
    display: inline-block;
    margin-top: auto;
    border: 10px solid green;
}


#correct_answer
{
    border: 5px solid red;
    font-size: 50px;
}

/*slider element*/
.slider {
    
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: hsl(0, 0%, 53%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

/*Content warning section*/
.content_warning {
    text-align: center;
    font-family: 'roboto';
    color: #d82020;
    height: 20 px;
}
.disclaimer {
    text-align: center;
    font-family: 'roboto';
    height: 20 px;
}
.contentOfWarning {
    margin: auto;
    width: 500px;
    height: 50%;
    text-align: center;
    font-family: 'Franklin Gothic medium';
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #292929;
    padding: 0 1em;
}
footer p a {
    color: #292929;
    text-decoration: none;
}