/*
Author: Nora Hammons
Date: 2/14/2024
File name: styles.css
*/
body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

#css1, #css2, #css3 {
    width: 31%;
    float: left;
    padding: 0 1%;
}

body {
    padding: 2%;
    background-color: #d1d1e0;
} 

/*main*/
main {
    overflow: auto;
    padding: 2%;
    font-family: Geneva, Arial, sans-serif;
}
/*header*/
header h1 {
    text-align: center;
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #47476b;
} 
/*navigation*/
nav {
    background-color: #47476b;

} 
nav ul { 
    margin: 0;
} 

nav li {
    display: inline-block;
    font-size: 1.5em; font-family: Verdana, Arial, sans-serif; font-weight: bold;
} 
nav li a { 
    display: block; 
    color: #e3eaf8;
    padding: 0.5em 2em;
    text-decoration: none;
 }

/*main*/
main p {
    font-size: 1.25em;
}
main h3 {
    padding-top: 2%;
    font-size: 2em;
}

/*anchor*/
p a
{
    color:#47476b;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

/*footer*/
footer {
    text-align: center;
    font-size: 0.85em;
    color: #47476b;
    padding: 1% 0;
    border-top: 3px solid #47476b;
}