/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/

body
{ color:#261C15;
    background-color:#F7F7F2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    font: 100;
    float:center;
    text-align: center;
    margin:0;
    text-shadow: 1px 0px 10px  line;
    block-size: 100px;
    
}

header h1
{
text-align: center;
color: #F05D23;
}

al
{
    background-color: #261C15;
    border:10px #261C15;
    padding:10px;
    border-radius: 50%;
    color:#C5D86D;
}

nav {
    
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #C5D86D;
}

nav ul {
    clear:left;
float: left;
}

nav li 
{
    float: left;
}


nav li a {
    display: block;
    color: #261C15;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover 
{
    background-color: #E4E6C3;
}