/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/

body
{ color:#261C15;
    background-color:#F7F7F2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*header*/
header{
    font: 100px;
    float:center;
    text-align: center;
    margin:0;
    text-shadow: 1px 0px 10px  line;
    block-size: auto;
    
}

header h1
{
color: #F05D23;
}

al
{
    background-color: #261C15;
    border:10px #261C15;
    padding:10px;
    border-radius: 50%;
    color:#C5D86D;
}

/*nav*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C5D86D;
}

nav li 
{
    display: inline;
    float: left;
}

nav li a {
    display: block;
    color: #261C15;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover 
{
    background-color: #E4E6C3;
}

/*main*/
div
{
    color:#261C15;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    border:15px;
}

.list_projects
{
text-align: center;
padding: 30px;
border:30px;
float:center;
}

#project
{
color:#F05D23;
text-align: center;
background-repeat: no-repeat;
padding: 15px;
font-size: 30px;
}

#project a:hover
{
color:#F05D23;
text-align: center;
border: 1px solid black;
background-repeat: no-repeat;
padding: 15px;
}

#project a
{
    color:#F05D23;
    text-decoration: none;
}

/*image*/
img
{
    height: auto;
    width: 100%;
    max-width: 500px;
    float:center;
}

/*footer*/
footer
{
    color:#261C15;
    font-size: 1em;
    text-align: center;
    padding: 0 1em;
}

footer a 
{
    color:#F05D23;
    text-decoration: none;
}

footer a:hover
{
    color:#C5D86D;
}