/*
#d7d7d7 lightest
#d82020 content warning
#292929
#000000 darkest



*/


body {
    background:#d7d7d7;
    font-family: 'Tahoma';
}

header
{
    text-align: left;

}

header img
{
    height: "220";
    width:"220";
    border-radius: 50%;
    float:center;
    margin-inline: 10px;
}

header h1 {
    display: inline-block;
    color: #000000;
    
  }

nav {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #292929;
}

nav ul {
    clear:left;
float: left;
}

nav li 
{
    float: left;
}


nav li a {
    display: block;
    color: #d7d7d7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover 
{
    background-color: #000000;
}


div h2
{
    font-family: 'Tahoma';
    color:green;
}

.content_warning
{
    text-align: center;
    font-family:'roboto';
color: #d82020;
height: 20 px;
}

.disclaimer
{
    text-align: center;
    font-family: 'roboto';
    height: 20 px;
}

.contentOfWarning
{
    margin:auto;
    width:500px;
    height:50%;
    text-align: center;
    font-family:'Franklin Gothic medium';
}

.main_text{
    clear:left;
    color:#000000;
    font-family:'Tahoma';
}

footer
{
 font-family: 'sans-serif', serif, 'Calibri', 'Trebuchet MS';
}