/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/


body {
    background: #d7d7d7;
    font-family: 'Tahoma';
}

/*header section*/
header {
    text-align: left;

}
header img {
    height: "220";
    width: "220";
    border-radius: 50%;
    float: center;
    margin-inline: 10px;
}
header h1 {
    display: inline-block;
    color: #000000;

}

/*navigation section*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #292929;
}
nav ul {
    clear: left;
    float: left;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #d7d7d7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #000000;
}

/*main section*/
div h2 {
    font-family: 'Tahoma';
}
div {

    clear: left;
    color: #000000;
    font-family: 'Tahoma';

}
.home_info {
    width: 75%;
}
bold {
    font-weight: bold;
}
/*display box*/
.display
{
    display: block;
    border: 15px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    padding: 10px;
}
.result
{
    color: #d82020;
}

/*slider element*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

/*Content warning section*/
.content_warning {
    text-align: center;
    font-family: 'roboto';
    color: #d82020;
    height: 20 px;
}
.disclaimer {
    text-align: center;
    font-family: 'roboto';
    height: 20 px;
}
.contentOfWarning {
    margin: auto;
    width: 500px;
    height: 50%;
    text-align: center;
    font-family: 'Franklin Gothic medium';
}

/* Style rules for footer content */
footer p {
    font-size: 0.75em;
    text-align: center;
    color: #292929;
    padding: 0 1em;
}
footer p a {
    color: #292929;
    text-decoration: none;
}