/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/

body,
nav,
main,
footer,
h1,
div,
img,ul {
    margin: 0;
    padding: 0;
    border: 0;
}

h1{
  color: hsl(199, 95%, 76%);
}

.container
{
    margin: 50px;
}

body{
  background: #212534;
}

/*Animation*/
  
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/*nav*/

nav ul {
  background: #191c29;
  list-style-type: none;
  overflow: hidden;
  font-family: 'Gill Sans MT';
  border-bottom: 20px;
  text-align: center;
}

nav li {
  font-size: 1.3em;
  display: inline-block;
}

nav li a {
  display: block;
  color: #212534;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

nav li a:hover {
  color: hsl(199, 95%, 76%);
  transform: scale(1.4);
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    animation: spin 2.5s linear infinite;
    
    transition: animation 3s;
    transition: all 2.2s;
    
}
nav li a:hover::before{
  opacity: 1;
}
nav li a:hover::after{
  
}

/* Highlight text in  */

.highlightTextIn
{
    color: rgba(0, 0, 0, 0.4); 
}

.block
{
  background-color: aliceblue;
}
.block:hover{
}


/* Magic */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  
  .card {
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
    transition-duration: 10000ms;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  

