/*
Author: Nora Hammons
Date: 4/30/2024
File name: styles.css
*/

body,
nav,
main,
footer,
h1,
div,
img,ul,article,p {
    margin: 0;
    padding: 0;
    border: 0;
}

a{
  text-decoration: none;
  color:#923880;
}

header{
  color: hsl(199, 95%, 76%);
  margin-bottom: 30px;
  text-align: center;
}

body{
  color:white;
}

.background
{
  background:hsl(227, 22%, 17%);
  background-image: url('../image/option_2.jpg');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
}

/*nav*/

nav ul {
  list-style-type: none;
  font-family: 'Gill Sans MT';
  text-align: center;
  overflow: hidden;
}

nav li {
  font-size: 1.3em;
  display: inline-block;
  box-shadow: 0px 0px 12px #923880;
  border: 2px double #923880;
  border-radius: 10px;
  margin-left: 20px;
  margin-right:20px;
  background: radial-gradient(#061038,#061038,#1C436A) ;

}

nav li a {
  display: block;
  color:#923880;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

nav li a:hover {
  color:white;
  transform: scale(1.4);
  background-image: linear-gradient(
    var(--rotate)
    , #923880, #061038 43%, #061038);
    animation: spin 2.5s linear infinite;
    transition: animation 1s;
    transition: all 1s;
    
}
nav li a:hover::before{
  opacity: 0.5;
}

.container
{
    margin: 50px;
}

.box{
  align-content: center;
  margin: 50px;
  border-radius: 25px;
  padding: 20px;
  background-color: #88d7fc;
  border: dotted #923880;
  background: radial-gradient(#061038,#061038 43%,#1C436A) ;
}

/* box stuff */

.box{
  align-content: center;
  margin: 50px;
  border-radius: 25px;
  padding: 20px;
  background-color: #88d7fc;
  border: dotted #923880;
  background: radial-gradient(#061038,#061038 43%,#1C436A) ;
}

.box ul{
  margin-top: 10px;
margin-left: 25px;
}

/* end box stuff */

/* stuff*/
#safe{
  color: white;
  margin-top: 100px;
}

/*footer*/
footer{
  text-decoration:none;
  text-align: center;
  margin-bottom: 40px;
}

footer p{
  margin-bottom:7px;
}

/*Animation*/
  
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* Magic animation*/

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
/* Magic */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  

