/*
Author: Nora Hammons
Date: 2/7/2024
File name: styles.css
*/

body,
nav,
main,
footer,
h1,
div,
img,ul {
    margin: 0;
    padding: 0;
    border: 0;
}

header{
  color: hsl(199, 95%, 76%);
  margin-bottom: 30px;
}


.container
{
    margin: 50px;
}

body{
  background:#212534;
}

/*Animation*/
  
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/*nav*/

nav ul {
  list-style-type: none;
  font-family: 'Gill Sans MT';
  text-align: center;
  overflow: hidden;
}

nav li {
  font-size: 1.3em;
  display: inline-block;
  box-shadow: 0px 0px 12px #5ddcff;
  border: 2px solid #5ddcff;
  border-radius: 10px;
  margin-left: 20px;
  margin-right:20px;
  background: radial-gradient(#3c67e3,#3c67e3,#5ddcff) ;

}

nav li a {
  display: block;
  color:#4e00c2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

nav li a:hover {
  color: hsl(199, 95%, 76%);
  transform: scale(1.4);
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    animation: spin 2.5s linear infinite;
    
    transition: animation 1s;
    transition: all 1.7s;
    
}
nav li a:hover::before{
  opacity: 1;
}
nav li a:hover::after{
  
}

/* Highlight text in  */

.highlightTextIn
{
    color: rgba(0, 0, 0, 0.4); 
}

.block
{
  background-color: aliceblue;
}
.block:hover{
}


/* Magic */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  

