/*
Author: Nora Hammons
Date: 4/10/2024
File name: styles.css
*/

.hero-heading-right{
    border-bottom: 1px solid red;
    padding: 80px 30px;
    position:relative;
}

.hero-wrapper{
    justify-content: space-between;
    align-items:center;
    display: flex;
}

.hero-split{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 46%;
    display:flex;
}

@media screen and (min-width: 1000px),
print {
    .hero-wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hero-split{
        max-width: 100%;
        margin-bottom: 40px;
    }
}